@model List<Producto>

@{
    ViewData["Title"] = "ver productos";
}

<div class="text-center">
    <h1 class="display-4">Productos registrados</h1>
    <div class="row"> 
        @foreach (var producto in Model)
        {
           if(@producto.Id >0){
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="@producto.Url" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@producto.Nombre</h5>
                        
                         
                    </div>
                    <ul class="list-group list-group-flush">
                            
                            <li class="list-group-item"><strong>Descripción: </strong>@producto.Descripcion</li>
                            <li class="list-group-item"><strong>Precio: </strong>@producto.Precio</li>
                            <li class="list-group-item"><strong>Celular: </strong>@producto.Celular/li>
                            <li class="list-group-item"><strong>Lugar: </strong>@producto.Lugar</li>
                            <li class="list-group-item"><strong>Usuario: </strong>@producto.NombreUsuario</li>
                        </ul>
                </div>
            </div>
           }else{
               <h1>Ingrese los productos</h1>
               break;
           }

               
               
        

            
        }
        
    </div>
</div>
